body {
	font-family: Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	background-color: #f0f0f0;
}

footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	clear: both;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	margin-top: -100px;
	text-align: center;
}

.logo {
	width: 1000px;
	height: auto;
	margin-bottom: 20px;
}

.description {
	line-height: 1.5;
}

.highlight {
	font-size: 24px;
}

.contact-me {
	background-color: #ffd900;
	padding: 10px;
	border-radius: 5px;
	width: 100%;
	max-width: 200px;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 10px;
	text-align: center;
	background-image: radial-gradient(circle, #ffd900, #f0f0f0);
}

.btn {
	display: inline-block;
	padding: 10px 20px;
	margin: 5px;
	border: none;
	border-radius: 5px;
	text-decoration: none;
	color: #fff;
	font-size: 16px;
	transition: background-color 0.3s ease;
}

.btn-login-container {
	position: absolute;
	top: 20px;
	right: 20px;
}

.btn-login {
	display: inline-block;
	padding: 10px 20px;
	background-color: #007bff;
	color: white;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	text-decoration: none;
	cursor: pointer;
	white-space: nowrap;
}

.btn-login:hover {
	background-color: #0056b3;
}

.btn-phone {
	background-color: #007bff;
}

.btn-copy {
	background-color: #007bff;
}

.btn-email {
	background-color: #28a745;
}

.btn-location {
	background-color: #8c00ff;
}

.btn:hover {
	background-color: #0056b3;
	color: #fff;
}
